# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Testes e Cobertura
.pytest_cache/
.mypy_cache/
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Ambiente Virtual
venv/
.env
.venv
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
.qodo/
*.swp
*.swo

# Project specific
.flake8
